<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>vue</title>
</head>
<body>
<div id="app">
	<div>hello world</div>
	<div>is {{msg}}</div>
	<div class="header">
		<ul>
			<li v-for="item in jsonData" 
				@click.stop.prevent="toggle(item)">
				{{item.text}}
				<ul >
					<li v-for="sub in item.children" 
						@click.stop.prevent="toggle(sub)"
						v-show="item.show">{{sub.text}}
						<ul>
							<li v-for="last in sub.children"
								v-show="sub.show">{{last.text}}</li>
						</ul>
					</li>
				</ul>
			</li>
		</ul>
	</div>
</div>

	<script src="vue.min.js"></script>
	<script src="index.js"></script>
	<script>
	var app = new Vue({
		el: '#app',
		data: {
			msg: 'is demo',
			jsonData: json,
			show: false
		},
		created() {
			// console.log(123)
			// Vue.set(this.jsonData, 'show', false);
		},
		methods: {
			toggle: function(item) {
				console.log(item.show)
			  Vue.set(item, 'show', this.show = !this.show);
			}
		}
	})
	</script>
</body>
</html>